:root{
    --theme-color: rgb(255, 183, 52)
}
.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#carousel-home .owl-carousel .owl-slide,
#carousel-home-2 .owl-carousel .owl-slide {
  height:100vh !important;
  position:relative
}
.theme-color{
    color: var(--theme-color);
}
.btn_1:hover{
    background-color: green;
}
.popup-form{
    max-width: 500px;
    max-height: 609px;
}
.form-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 15px;
}
.form-logo>img{
    width: 250px;
}
.enquiry-form{
    padding: 20px 30px;
}


/* counter section  */
.counter-section {
    background: url('../img/index/counter-bg.JPG') no-repeat center center/cover;
    padding: 100px 0;
    color: white;
    text-align: center;
    position: relative;
}
.counter-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    p{
        font-size: x-large;
    }
}
.counter-number {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    
}
.we-assure-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.we-assure-image>img{
    width: 200px;
    border-radius: 35%;
}

h1, h2, h3, h4  {
	color: rgb(218,165,32); /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, rgba(218,165,32,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(212,175,55,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.with-shadow {
  text-shadow: 0px 0px 20px rgba(212,175,55,.5);
}
